.delete-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    color:#dc3545;
    cursor: pointer;
    background-color: #ddd;
    border-radius: 50px;
    padding:15px;
    transition: all 0.3s linear;
}

.delete-icon:hover{
    background-color:#dc3545;
    color: #fff;
}

.no-item-message{
    padding: 20px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    border-radius: 6px;
}
.error-icon{
    color: #dc3545;
     font-size: 50px;
}