@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

body {
  margin: 0;
font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-grey{
  color:#aaa;
}

.btn-regular {
    box-shadow: none !important;
    background-color: #62ac1e !important;
    border-color: #62ac1e !important;
    color: #fff !important;
    transition: all 0.3s linear !important;
}

.btn-regular:hover {
    background: #fff !important;
    color: #62ac1e !important;
    border-color: #62ac1e !important;
}