.banner-section{
    height:500px;
    background-image: url(http://www.shmai.com/preview/travelco/assets/images/bg/home2bg.jpg);
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.banner img{
    width:100%;
}

.banner-field{
    background-color: #63ac1e9c;
    border-radius: 6px;
    padding: 20px 0;
    margin: 100px 10px 0 10px;
}

.banner-heading{
    color: #fff;
    text-shadow: 2px 2px 18px #000;
    font-weight: 700 ;
    font-family: "Roboto", sans-serif;
}

.banner-section button{
    margin: 20px 0;
    width: 80px;
}

.banner-icon{
    color:#62ac1e;
}